p#alerts {
    color: slategray;
    font-size: small;
}

p#alerts.success {
    color: green;
}

p#alerts.fail {
    color: #ff0000;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.4;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.4;
    }
}

#app_graph {
    width: 100%;
    /*height: 700px;*/
    border: 1px solid lightgrey;
}

#app_graph svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app_graph text {
    font-weight: 300;
    font-size: 14px;
}

#app_graph .node rect {
    stroke-width: 1.5px;
    stroke: #bbb;
    fill: #666;
}

#app_graph .node.warn rect {
    stroke: #dbb;
    fill: #966;
}

#app_graph .node g > foreignobject > div {
    width: 200px;
    height: 60px;
    color: #fff;
}

#app_graph .status {
    /*position: absolute;*/
    /*left: 0;*/
    /*height: 100%;*/
    width: 16px;
    height: 60px;
    background-color: light-grey;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*margin-right: 4px;*/
    float: left;
}

#app_graph .high .status {
    background-color: #f77;
}

#app_graph .maybe_high .status {
    background-color: #ffed68;
}

#app_graph .normal .status {
    background-color: #7f7;
}

#app_graph .maybe_low .status {
    background-color: #6cffe2;
}

#app_graph .low .status {
    background-color: #77f;
}

.warn {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-name: flash;
    animation-name: flash;
}

#app_graph .lbl {
    margin-left: 6px;
    margin-top: 2px;
    width: 38px;
    height: 18px;
    background-color: #444;
    font-weight: bold;
    float: left;
    line-height: 18px;
    border-radius: 4px;
}

#app_graph .name {
    /*left: 32%;*/
    /*top: 2%;*/
    margin-left: 66px;
    margin-top: 2px;
    width: 132px;
    height: 18px;
    /*background-color: blue;*/
    line-height: 18px;
    text-align: left;
}

#app_graph .metrics .counter.cpu:after{
    content: "%";
}

#app_graph .host {
    margin-left: 24px;
    margin-top: 2px;
    width: 174px;
    height: 17px;
    font-size: 12px;
    /*background-color: pink;*/
    line-height: 17px;
    text-align: left;
}

#app_graph .metrics {
    margin-left: 24px;
    margin-top: 2px;
    width: 174px;
    height: 17px;
    font-size: 12px;
    /*background-color: orange;*/
    line-height: 17px;
    text-align: left;
}

#app_graph .edgeLabel text {
    /*width: 50px;*/
    width: 25%;
    fill: #fff;
}

#app_graph .edgePath path {
    stroke: #999;
    stroke-width: 1.5px;
    fill: #999;
}
