.cell-graph {
    width: 400px;
    height: 400px;
    align-content: center;
    margin: auto;
}

.base-widget {
    margin: 10px;
}

.status {
    font-weight: bold;
}

.status-success {
    color: #5ca323;
}

.status-unknown {
    color: #a9a9a9;
}

.status-unknown {
    color: dodgerblue;
}

.status-fail {
    color: red;
}

select:focus.ng-invalid, select.ng-invalid,
input:focus.ng-invalid, input.ng-invalid {
    box-shadow: 0 0 5px #d45252;
    border: 1px solid #b03535;
}
