.cell-graph {
    width: 400px;
    height: 400px;
    align-content: center;
    margin: auto;
}

.base-widget {
    margin: 10px;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.node:hover {
  fill: #1f77b4;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
  marker-start: url(#marker_start);
  marker-end: url(#marker_end);
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
  visibility: visible;
}

.node.target {
  fill: #d62728 !important;
  font-weight: bold;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
  font-weight: bold;
}

.link.target {
  stroke: #2ca02c;
}


line.subscribes {
  stroke: #d62728;
}

text.subscribes {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

line.publishes {
  stroke: #2ca02c;
}

text.publishes {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.node.selected text {
  text-decoration: underline;
}

circle.marker_circle {
  stroke: none;
  fill: #1f77b4;
  visibility: hidden;
}

path.marker_arrow {
  fill: #1f77b4;
}

path.custom {
  stroke: #ff0000;
  stroke-width: 1px;
  fill: none;
}
