

	<page-title ng-if="layoutOptions.pageTitles" title="Gallery" description="Gallery albums and images list"></page-title>


<script type="text/javascript">
// Sample Javascript code for this page
jQuery(document).ready(function($)
{
	// Sample Select all images
	$("#select-all").on('change', function(ev)
	{
		var is_checked = $(this).is(':checked');

		$(".album-image input[type='checkbox']").prop('checked', is_checked).trigger('change');
	});

	// Edit Modal
	$('.gallery-env a[data-action="edit"]').on('click', function(ev)
	{
		ev.preventDefault();
		$("#gallery-image-modal").modal('show');
	});

	// Delete Modal
	$('.gallery-env a[data-action="trash"]').on('click', function(ev)
	{
		ev.preventDefault();
		$("#gallery-image-delete-modal").modal('show');
	});


	// Sortable
	$('.gallery-env a[data-action="sort"]').on('click', function(ev)
	{
		ev.preventDefault();

		var is_sortable = $(".album-images").sortable('instance');

		if( ! is_sortable)
		{
			$(".gallery-env .album-images").sortable({
				items: '> div',
				containment: 'parent'
			});

			$(".album-sorting-info").stop().slideDown(300);
		}
		else
		{
			$(".album-images").sortable('destroy');
			$(".album-sorting-info").stop().slideUp(300);
		}
	});
});
</script>

<section class="gallery-env">

	<div class="row">

		<!-- Gallery Album Optipns and Images -->
		<div class="col-sm-9 gallery-right">

			<!-- Album Header -->
			<div class="album-header">
				<h2>General</h2>

				<ul class="album-options list-unstyled list-inline">
					<li>
						<input type="checkbox" class="cbr" id="select-all" />
						<label for="select-all">Select all</label>
					</li>
					<li>
						<a href="">
							<i class="fa-upload"></i>
							Add Images
						</a>
					</li>
					<li>
						<a href="" data-action="sort">
							<i class="fa-arrows"></i>
							Re-order
						</a>
					</li>
					<li>
						<a href="" data-action="edit">
							<i class="fa-edit"></i>
							Edit
						</a>
					</li>
					<li>
						<a href="" data-action="trash">
							<i class="fa-trash"></i>
							Trash
						</a>
					</li>
				</ul>
			</div>

			<!-- Sorting Information -->
			<div class="album-sorting-info">
				<div class="album-sorting-info-inner clearfix">
					<a href="" class="btn btn-secondary btn-xs btn-single btn-icon btn-icon-standalone pull-right" data-action="sort">
						<i class="fa-save"></i>
						<span>Save Current Order</span>
					</a>

					<i class="fa-arrows-alt"></i>
					Drag images to sort them
				</div>
			</div>

			<!-- Album Images -->
			<div class="album-images row">

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-1.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_007.jpg</span>
							<em>01 December 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-2.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_008.jpg</span>
							<em>23 November 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-3.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_060.jpg</span>
							<em>06 November 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-4.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_1008.jpg</span>
							<em>26 October 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-5.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_023.jpg</span>
							<em>02 October 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-6.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_012.jpg</span>
							<em>18 September 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-7.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_207.jpg</span>
							<em>28 August 2014</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

				<!-- Album Image -->
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="album-image">
						<a href="" class="thumb" data-action="edit">
							<img src="images/xenon/album-img-8.png" class="img-responsive" />
						</a>

						<a href="" class="name">
							<span>IMG_002.jpg</span>
							<em>27 October 2013</em>
						</a>

						<div class="image-options">
							<a href="" data-action="edit"><i class="fa-pencil"></i></a>
							<a href="" data-action="trash"><i class="fa-trash"></i></a>
						</div>

						<div class="image-checkbox">
							<input type="checkbox" class="cbr" />
						</div>
					</div>
				</div>

			</div>


			<button class="btn btn-white btn-block">
				<i class="fa-bars"></i>
				Load More Images
			</button>

		</div>

		<!-- Gallery Sidebar -->
		<div class="col-sm-3 gallery-left">

			<div class="gallery-sidebar">

				<a href="" class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right">
					<i class="linecons-photo"></i>
					<span>Create Album</span>
				</a>

				<ul class="list-unstyled">
					<li class="active">
						<a href="">
							<i class="fa-folder-open-o"></i>
							<span>General</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-folder-o"></i>
							<span>Office</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-folder-o"></i>
							<span>Las Vegas</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-folder-o"></i>
							<span>Thailand</span>
						</a>
					</li>
					<li>
						<a href="">
							<i class="fa-folder-o"></i>
							<span>Nature</span>
						</a>
					</li>
				</ul>

			</div>

		</div>

	</div>

</section>
