

	<page-title ng-if="layoutOptions.pageTitles" title="Members List" description="Members management page separated with tabs."></page-title>


<div class="row">

	<div class="col-md-12">

		<tabset>
			<tab heading="All Members">

				<table class="table table-hover members-table middle-align">
					<thead>
						<tr>
							<th></th>
							<th class="hidden-xs hidden-sm"></th>
							<th>Name and Role</th>
							<th class="hidden-xs hidden-sm">E-Mail</th>
							<th>ID</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" checked />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-1.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Jack Gates</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">jack@topshop-tv.com</span>
							</td>
							<td class="user-id">
								1232518142
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="2" checked />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-2.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Arlind Nushi</a>
								<span>Subscriber</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">me@arlindnushi.com</span>
							</td>
							<td class="user-id">
								1232518110
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-3.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Bryan Green</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">bryan@green.com</span>
							</td>
							<td class="user-id">
								1232518153
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-4.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">John Smith</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">johnsmith@gmail.com</span>
							</td>
							<td class="user-id">
								1234567890
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-5.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Nicholas Walker</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">nickw@live.com</span>
							</td>
							<td class="user-id">
								1232518167
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="6" checked />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-1.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Jack Gates</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">jack@topshop-tv.com</span>
							</td>
							<td class="user-id">
								1232518142
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="7" checked />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-2.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Arlind Nushi</a>
								<span>Subscriber</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">me@arlindnushi.com</span>
							</td>
							<td class="user-id">
								1232518110
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="8" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-3.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Bryan Green</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">bryan@green.com</span>
							</td>
							<td class="user-id">
								1232518153
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="9" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-4.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">John Smith</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">johnsmith@gmail.com</span>
							</td>
							<td class="user-id">
								1234567890
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="10" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-5.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Nicholas Walker</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">nickw@live.com</span>
							</td>
							<td class="user-id">
								1232518167
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-sm-6">

						<div class="members-table-actions">
							<div class="selected-items">
								<span>2</span>
								members selected
							</div>

							<div class="selected-actions">
								<a href="" class="edit">Edit Profile</a>
								or
								<a href="" class="delete">Delete</a>
							</div>
						</div>

					</div>
					<div class="col-sm-6 text-right text-center-sm">
						<ul class="pagination pagination-sm no-margin">
							<li>
								<a href="">
									<i class="fa-angle-left"></i>
								</a>
							</li>
							<li class="active">
								<a href="">1</a>
							</li>
							<li>
								<a href="">2</a>
							</li>
							<li>
								<a href="">3</a>
							</li>
							<li class="disabled">
								<a href="">4</a>
							</li>
							<li>
								<a href="">5</a>
							</li>
							<li>
								<a href="">6</a>
							</li>
							<li>
								<a href="">
									<i class="fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

			</tab>
			<tab heading="Administrators">

				<table class="table table-hover members-table middle-align">
					<thead>
						<tr>
							<th></th>
							<th class="hidden-xs hidden-sm"></th>
							<th>Name and Role</th>
							<th class="hidden-xs hidden-sm">E-Mail</th>
							<th>ID</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" checked />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-1.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Jack Gates</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">jack@topshop-tv.com</span>
							</td>
							<td class="user-id">
								1232518142
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-4.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">John Smith</a>
								<span>Administrator</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">johnsmith@gmail.com</span>
							</td>
							<td class="user-id">
								1234567890
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-sm-12">

						<div class="members-table-actions">
							<div class="selected-items">
								<span>1</span>
								members selected
							</div>

							<div class="selected-actions">
								<a href="" class="edit">Edit Profile</a>
								or
								<a href="" class="delete">Delete</a>
							</div>
						</div>

					</div>
				</div>

			</tab>
			<tab heading="Subscribers">


				<table class="table table-hover members-table middle-align">
					<thead>
						<tr>
							<th></th>
							<th class="hidden-xs hidden-sm"></th>
							<th>Name and Role</th>
							<th class="hidden-xs hidden-sm">E-Mail</th>
							<th>ID</th>
							<th>Settings</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="2" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-2.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name hidden-xs hidden-sm">
								<a href="" class="name">Arlind Nushi</a>
								<span>Subscriber</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">me@arlindnushi.com</span>
							</td>
							<td class="user-id">
								1232518110
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-3.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Bryan Green</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">bryan@green.com</span>
							</td>
							<td class="user-id">
								1232518153
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
						<tr>
							<td class="user-cb">
								<input type="checkbox" class="cbr" name="members-list[]" value="1" />
							</td>
							<td class="user-image hidden-xs hidden-sm">
								<a href="">
									<img src="images/xenon/user-5.png" class="img-circle" alt="user-pic" />
								</a>
							</td>
							<td class="user-name">
								<a href="" class="name">Nicholas Walker</a>
								<span>Editor</span>
							</td>
							<td class="hidden-xs hidden-sm">
								<span class="email">nickw@live.com</span>
							</td>
							<td class="user-id">
								1232518167
							</td>
							<td class="action-links">
								<a href="" class="edit">
									<i class="linecons-pencil"></i>
									Edit Profile
								</a>

								<a href="" class="delete">
									<i class="linecons-trash"></i>
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-sm-12">

						<div class="members-table-actions">
							<div class="selected-items">
								<span>0</span>
								members selected
							</div>

							<div class="selected-actions">
								<a href="" class="edit">Edit Profile</a>
								or
								<a href="" class="delete">Delete</a>
							</div>
						</div>

					</div>
				</div>

			</tab>
		</tabset>

	</div>

</div>
