<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
<footer class="main-footer sticky footer-type-1">

	<div class="footer-inner">

		<!-- Add your copyright text here -->
		<div class="footer-text">
			&copy; 2014-{{date | date:'yyyy'}}
      <strong>Tiago Carvalho - Carnegie Mellon University</strong>
      <!--<strong>Xenon</strong>-->
			<!--theme by <a href="http://laborator.co" target="_blank">Laborator</a> - <a href="http://themeforest.net/item/xenon-bootstrap-admin-theme/9059661?ref=Laborator" target="_blank">Purchase for only <strong>23$</strong></a>-->
		</div>


		<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
		<div class="go-up">

			<a href="" rel="go-top">
				<i class="fa-angle-up"></i>
			</a>

		</div>

	</div>

</footer>
