<section class="sidebar-user-info" ng-class="{'mobile-is-visible': layoutOptions.sidebar.isMenuOpenMobile}">
	<div class="sidebar-user-info-inner">
		<a href="#/app/extra-profile" class="user-profile">
			<img src="images/xenon/user-4.png" width="60" height="60" class="img-circle img-corona" alt="user-pic" />

			<span>
				<strong>John Smith</strong>
				Page admin
			</span>
		</a>

		<ul class="user-links list-unstyled">
			<li>
				<a href="#/app/extra-profile" title="Edit profile">
					<i class="linecons-user"></i>
					Edit profile
				</a>
			</li>
			<li>
				<a href="#/app/mailbox-inbox" title="Mailbox">
					<i class="linecons-mail"></i>
					Mailbox
				</a>
			</li>
			<li class="logout-link">
				<a href="#/login" title="Log out">
					<i class="fa-power-off"></i>
				</a>
			</li>
		</ul>
	</div>
</section>
