

	<page-title ng-if="layoutOptions.pageTitles" title="Read Email" description="Mailbox sidebar and single message read more"></page-title>


<section class="mailbox-env">

	<div class="row">

		<!-- Email Single -->
		<div class="col-sm-9 mailbox-right">

			<div class="mail-single">

				<!-- Email Title and Button Options -->
				<div class="mail-single-header">
					<h2>
						Reset your Apple ID password
						<span class="badge badge-success badge-roundless pull-right upper">Envato</span>

						<a href="mailbox-main.html" class="go-back">
							<i class="fa-angle-left"></i>
							Go Back
						</a>
					</h2>

					<div class="mail-single-header-options">
						<a href="mailbox-compose.html" class="btn btn-gray btn-icon">
							<span>Reply</span>
							<i class="fa-reply-all"></i>
						</a>

						<a href="mailbox-main.html" class="btn btn-gray btn-icon">
							<i class="fa-trash"></i>
						</a>
					</div>
				</div>

				<!-- Email Info From/Reply -->
				<div class="mail-single-info">

					<div class="mail-single-info-user dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<img src="images/xenon/user-3.png" class="img-circle" width="38" />
							<span>Arlind Nushi</span>
							(noreply@example.com) to <span>me</span>
							<em class="time">07:51 AM - 15 December</em>
						</a>

						<ul class="dropdown-menu dropdown-secondary">
							<li>
								<a href="">
									<i class="fa-reply"></i>
									Reply to John Doe
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa-reply-all"></i>
									Reply to all recipients
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa-forward"></i>
									Forward message
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">
									<i class="fa-trash"></i>
									Move to trash
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa-remove"></i>
									Delete from everywhere
								</a>
							</li>
						</ul>
					</div>

					<div class="mail-single-info-options">
						<a href="" class="star starred">
							<i class="fa-star-o"></i>
						</a>
						<a href="">
							<i class="linecons-attach"></i>
						</a>
					</div>

				</div>

				<!-- Email Body -->
				<div class="mail-single-body">
					<p>Lose away off why half led have near bed. At engage simple father of period others except. My giving do summer of though narrow marked at. Spring formal no county ye waited. My whether cheered at regular it of promise blushes perhaps. Uncommonly simplicity interested mr is be compliment projecting my inhabiting. Gentleman he september in oh excellent.</p>
					<p>New the her nor case that lady paid read. Invitation friendship travelling eat everything the out two. Shy you who scarcely expenses debating hastened resolved. Always polite moment on is warmth spirit it to hearts. Downs those still witty an balls so chief so. Moment an little remain no up lively no. Way brought may off our regular country towards adapted cheered.</p>
					<p>Use securing confined his shutters. Delightful as he it acceptance an solicitude discretion reasonably. Carriage we husbands advanced an perceive greatest. Totally dearest expense on demesne ye he. Curiosity excellent commanded in me. Unpleasing impression themselves to at assistance acceptance my or. On consider laughter civility offended oh.</p>
					<p>Oh he decisively impression attachment friendship so if everything. Whose her enjoy chief new young. Felicity if ye required likewise so doubtful. On so attention necessary at by provision otherwise existence direction. Unpleasing up announcing unpleasant themselves oh do on. Way advantage age led listening belonging supposing.</p>
					<p>So by colonel hearted ferrars. Draw from upon here gone add one. He in sportsman household otherwise it perceived instantly. Is inquiry no he several excited am. Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she.</p>
				</div>

				<!-- Email Attachments -->
				<div class="mail-single-attachments">
					<h3>
						<i class="linecons-attach"></i>
						Attachments
					</h3>

					<ul class="list-unstyled list-inline">
						<li>
							<a href="" class="thumb">
								<img src="images/xenon/attach-1.png" class="img-thumbnail" />
							</a>

							<a href="" class="name">
								IMG_007.jpg
								<span>14KB</span>
							</a>

							<div class="links">
								<a href="">View</a> -
								<a href="">Download</a>
							</div>
						</li>

						<li>
							<a href="" class="thumb download">
								<img src="images/xenon/attach-2.png" class="img-thumbnail" />
							</a>

							<a href="" class="name">
								IMG_008.jpg
								<span>12KB</span>
							</a>

							<div class="links">
								<a href="">View</a> -
								<a href="">Download</a>
							</div>
						</li>
					</ul>
				</div>

				<div class="mail-single-reply">

					<div class="fake-form">
						<div>
							<a href="#/app/mailbox-compose">Reply</a> or <a href="#/app/mailbox-compose">Forward</a> this message...
						</div>
					</div>

				</div>

			</div>


		</div>

		<!-- Mailbox Sidebar -->
		<div class="col-sm-3 mailbox-left">

			<div class="mailbox-sidebar">

				<a href="#/app/mailbox-compose" class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right">
					<i class="linecons-mail"></i>
					<span>Compose</span>
				</a>


				<ul class="list-unstyled mailbox-list">
					<li class="active">
						<a href="">
							Inbox
							<span class="badge badge-success pull-right">5</span>
						</a>
					</li>
					<li>
						<a href="">
							Sent
						</a>
					</li>
					<li>
						<a href="">
							Drafts
						</a>
					</li>
					<li>
						<a href="">
							Spam
							<span class="badge badge-purple pull-right">2</span>
						</a>
					</li>
					<li>
						<a href="">
							Trash
						</a>
					</li>
				</ul>

				<div class="vspacer"></div>

				<ul class="list-unstyled mailbox-list">
					<li class="list-header">Filter by tags</li>
					<li>
						<a href="">
							ThemeForest
							<span class="badge badge-success badge-roundless pull-right upper">Envato</span>
						</a>
					</li>
					<li>
						<a href="">
							Society
							<span class="badge badge-red badge-roundless pull-right upper">Friends</span>
						</a>
					</li>
					<li>
						<a href="">
							Work
							<span class="badge badge-warning badge-roundless pull-right upper">Google</span>
						</a>
					</li>
				</ul>

			</div>

		</div>

	</div>

</section>
