<!doctype html>
<html ng-app="lamaTowerApp">
  <head>
    <meta charset="utf-8">
    <title>LAMA Tower</title>
    <meta name="description" content="LAMA Administration Page" />
    <meta name="author" content="Tiago Carvalho" />
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/epoch/dist/css/epoch.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="styles/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="styles/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/xenon/xenon-core.css">
    <link rel="stylesheet" href="styles/xenon/xenon-forms.css">
    <link rel="stylesheet" href="styles/xenon/xenon-components.css">
    <link rel="stylesheet" href="styles/xenon/xenon-skins.css">
    <!-- endbuild -->
  </head>
  <body class="page-body" ng-controller='MainCtrl' ng-class="{'settings-pane-open': layoutOptions.settingsPane.isOpen, 'chat-open': layoutOptions.chat.isOpen, 'login-page': isLoginPage && isMainPage == false, 'login-light': isLightLoginPage && isMainPage == false, 'lockscreen-page': isLockscreenPage && isMainPage == false, 'right-sidebar': layoutOptions.sidebar.isRight, 'boxed-container': layoutOptions.container.isBoxed}">

    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <settings-pane></settings-pane>

    <horizontal-menu ng-if="layoutOptions.horizontalMenu.isVisible"></horizontal-menu>

    <div class="page-container" ui-view></div>

    <!-- Remove this code if you want to disable Loading Overlay in the beginning of document loading -->
    <div class="page-loading-overlay" ng-class="{loaded: pageLoadingOverlay}" ng-init="loaded()">
      <div class="loader-2"></div>
    </div>

    <!-- Add your site or application content here -->
    <!--<div class="header">-->
      <!--<div class="navbar navbar-default" role="navigation">-->
        <!--<div class="container">-->
          <!--<div class="navbar-header">-->

            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">-->
              <!--<span class="sr-only">Toggle navigation</span>-->
              <!--<span class="icon-bar"></span>-->
              <!--<span class="icon-bar"></span>-->
              <!--<span class="icon-bar"></span>-->
            <!--</button>-->

            <!--<a class="navbar-brand" href="#/">lamaTower</a>-->
          <!--</div>-->

          <!--<div class="collapse navbar-collapse" id="js-navbar-collapse">-->

            <!--<ul class="nav navbar-nav">-->
              <!--<li class="active"><a href="#/">Home</a></li>-->
              <!--<li><a ng-href="#/about">About</a></li>-->
              <!--<li><a ng-href="#/">Contact</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="container">-->
      <!--<div ng-view=""></div>-->
    <!--</div>-->

    <!--<div class="footer">-->
      <!--<div class="container">-->
        <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
      <!--</div>-->
    <!--</div>-->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <!--<script>-->
       <!--!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){-->
       <!--(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),-->
       <!--r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)-->
       <!--}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

       <!--ga('create', 'UA-XXXXX-X');-->
       <!--ga('send', 'pageview');-->
    <!--</script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lazyload/build/lazyload.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
    <script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/epoch/dist/js/epoch.min.js"></script>
    <script src="bower_components/jquery.inputmask/dist/inputmask/inputmask.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/providers.js"></script>
    <script src="scripts/controllers/apps.js"></script>
    <script src="scripts/controllers/experiments.js"></script>
    <script src="scripts/controllers/manage.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/services/lama_config.js"></script>
    <script src="scripts/services/lama_requests.js"></script>
    <script src="scripts/lib/angular-fullscreen.js"></script>
    <script src="scripts/xenon/factory.js"></script>
    <script src="scripts/xenon/controllers.js"></script>
    <script src="scripts/xenon/directives.js"></script>
    <script src="scripts/xenon/services.js"></script>
    <script src="scripts/xenon/widgets.js"></script>
    <script src="scripts/xenon/xenon-custom.js"></script>
    <script src="scripts/lib/tween/TweenMax.min.js"></script>
    <script src="scripts/lib/joinable.js"></script>
    <script src="scripts/lib/resizeable.js"></script>
    <!-- endbuild -->
</body>
</html>
