

	<page-title ng-if="layoutOptions.pageTitles" title="Update Highlights" description="News about the update and fixes in Xenon theme"></page-title>


<div class="panel panel-headerless">
	<div class="panel-body">

		<ul class="highlights list-unstyled">
			<li class="version">
				<h4>VERSION 1.3</h4>
			</li>
			<li>
				<a href="dashboard-1.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-bootstrap-3-3-1.png" />
				</a>

				<div class="entry-description">
					<h3>Updated to Bootstrap 3.3.1</h3>
					<p>We love to be up to date, we’ve updated Xenon theme to the latest version of Bootstrap.</p>
					<p>Say hello to Bootstrap 3.3.1. As one of Boostrap fastest follow up releases, the changelog is focused around a small set of bug fixes for our CSS and JS, loads of accessibility improvements, and several documentation improvements.</p>
				</div>
			</li>

			<li>
				<a href="blank-sidebar-user-info-page.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-sidebar-user-info.png" />
				</a>

				<div class="entry-description">
					<h3>User Badge on Sidebar</h3>
					<p>This feature supports pop-up links related to user profile which is accessible when user clicks on the user thumbnail or name. It is optimised for mobile devices as well.</p>
				</div>
			</li>

			<li>
				<a href="dashboard-1.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-chat-footer.png" />
				</a>

				<div class="entry-description">
					<h3>Sticky Chat in Footer</h3>
					<p>Show recent chat conversations sticked in bottom of the page on the right side (or left side when sidebar is floated to right), inspired from the Facebook chat we integrated this feature with the request of our customers to have a better UX and UE.</p>
				</div>
			</li>

			<li>
				<a href="dashboard-1.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-language-switcher.png" />
				</a>

				<div class="entry-description">
					<h3>Language Switcher</h3>
					<p>Easily switch between the languages with the new language switcher in the top menu. We’ve included this feature for those who use the theme for multi-lingual purposes.</p>
				</div>
			</li>

			<li>
				<a href="dashboard-1.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-fullscreen.png" />
				</a>

				<div class="entry-description">
					<h3>Full Screen Application</h3>
					<p>Allows expanding user screens to fullscreen for better experience in browsing and working with the application. This feature is only supported in Angular JS version.</p>
				</div>
			</li>

			<li>
				<a href="dashboard-1.html" class="entry-img">
					<img src="images/xenon/highlights/highlights-members.png" />
				</a>

				<div class="entry-description">
					<h3>Members Page</h3>
					<p>New page for member management including profile edit link for members. It has tabs, so users can be categorized with roles or whatever you want to separate them.</p>
				</div>
			</li>
		</ul>

	</div>
</div>


<h3>Changelog</h3>

<pre class="pre-line"># Dec 06, 2014 v 1.3

* [Added] User profile with links in sidebar (Both - Plain & Angular version)
* [Added] Chat conversation (secondary) sticked in footer (Both - Plain & Angular version)
* [Added] Language switcher (at user info navbar) (Both - Plain & Angular version)
* [Added] Members page (2 pages: list + add new member) (Both - Plain & Angular version)
* [Added] Minified version of custom created Xenon JavaScript files located on: assets/js/min/
* [Added] Full screen feature for Angular JS version

* [Update] Bootstrap updated to v3.3.1
* [Update] Updated scripts to latest version: Perfect Scrollbar,

* [Fix] Mobile menu messed up on minimal navbar size (horizontal menu)
* [Fix] Font weight on user info navbar fixed on firefox
* [Fix] Empty stars icons on mailbox now appear properly
* [Fix] Gallery placeholder when re-ordering images is added
* [Fix] Missing "Login Light" template in Angular version
* [Fix] Tabs active border appearing in newest Chrome version 39.0.X
* [Fix] Tocify table of contents width appearing larger than container


# Oct 15, 2014 v 1.2.1

* [Fix] Mobile menu toggler now are working properly
* [Fix] Issues with Angular Lazy Loading fixed


# Oct 15, 2014 v 1.2

* [Added] AngularJS version of Xenon Theme
* [Fix] Bug fixes and code improvements


# Oct 10, 2014 v 1.1

* [Added] PSD Files of Xenon Layout (2 psd files)</pre><br />
