<page-title ng-if="layoutOptions.pageTitles" title="App Details: {{currentApp.value}}" description="View app agent details">hellooo</page-title>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">App</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="selApp" ng-model="currentApp" ng-options="a as a.label for a in availableApps" ng-change="getCurrentAppInfo">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Info</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
              <table class="table table-striped" >
                <tr>
                  <th>Name:</th>
                  <td>{{currentApp.value}}</td>
                </tr>
                <tr>
                  <th>Host:</th>
                  <td>{{currentApp.ip}}</td>
                </tr>
              </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Status</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Auto-Refresh</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="iswitch iswitch-secondary" ng-click="toggle_pause($event)" checked>
                        </div>
                        <label class="col-sm-2 control-label">Filter Support</label>
                        <div class="col-sm-1">
                          <input type="checkbox" id="filter-support-services" class="iswitch iswitch-secondary" ng-click="toggle_filter_sup($event)" checked>
                        </div>
                        <!--<div class="col-sm-1">-->
                            <!--<div class="cbr-replaced cbr-checked">-->
                                <!--<div class="cbr-input">-->
                                    <!--<input type="checkbox" id="filter-support-services" class="cbr cbr-done" checked>-->
                                <!--</div>-->
                                <!--<div class="cbr-state">-->
                                    <!--<span></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-sm-6">
                            <p id="alerts">&nbsp;</p>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">Experiment Server</label>-->

                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" placeholder="IP" ng-model="experiment.name" required>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
                <div id="app_graph">
                    <app-arch app-data="currentApp"></app-arch>
                    <svg>
                        <g/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Timeline</h3>-->

                <!--<div class="panel-options">-->
                    <!--<a href="" data-toggle="panel">-->
                        <!--<span class="collapse-icon">&ndash;</span>-->
                        <!--<span class="expand-icon">+</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div id="timeline" class="row"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-sm-12">

        <div class="chart-item-bg">
            <!--<div class="chart-label chart-label-small">-->
                <!--<div class="h4 text-secondary text-bold" xe-counter data-count="this"-->
                     <!--ng-attr-data-from="{{agentData.cpu.user}}" ng-attr-data-to="{{agentData.cpu.user}}"-->
                     <!--data-suffix="%" data-duration="1">{{agentData.cpu.user}}%</div>-->
                <!--<span class="text-medium text-muted">App Agent CPU Usage</span>-->
            <!--</div>-->
            <div class="chart-label chart-label-small">
              <div class="h4 text-blue text-bold" xe-counter data-count="this"
                   data-from="{{response_time_chart.prevValue}}"
                   data-to="{{response_time_chart.value}}"
                   data-suffix="%" data-duration="1.5">
                {{response_time_chart.value}}%
              </div>
              <span class="text-small text-upper text-muted">{{response_time_chart.title}}</span>
            </div>
            <div class="chart_container_with_label" style="width:100%; height: 150px;">
              <real-time-area chart-key="response_time_chart">
              </real-time-area>
            </div>
              <!--<epoch-live-area-->
                <!--chart-class="category10"-->
                <!--chart-height="200"-->
                <!--chart-data="response_time_area_chart.data"-->
                <!--chart-stream="response_time_area_chart.feed"-->
                <!--chart-axes="response_time_area_chart.axes">-->
              <!--</epoch-live-area>-->
        </div>
        <!--<div class="chart-item-bg">-->
            <!--<div id="sales-avg-chart" style="height: 134px; position: relative;">-->
                <!--<div style="position: absolute; top: 25px; right: 0; left: 40%; bottom: 0"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="chart-item-bg">-->
            <!--<div class="chart-label chart-label-small">-->
                <!--<div class="h4 text-purple text-bold" xe-counter data-count="this" data-from="0.00" data-to="95.8" data-suffix="%" data-duration="1.5">0.00%</div>-->
                <!--<span class="text-small text-upper text-muted">Current Server Uptime</span>-->
            <!--</div>-->
            <!--<div id="server-uptime-chart" style="height: 134px;"></div>-->
        <!--</div>-->
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-2">

        <!--<div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="99.9" data-suffix="%" data-duration="2">-->
            <!--<div class="xe-icon">-->
                <!--<i class="linecons-cloud"></i>-->
            <!--</div>-->
            <!--<div class="xe-label">-->
                <!--<strong class="num">0.0%</strong>-->
                <!--<span>Server uptime</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">-->
            <!--<div class="xe-icon">-->
                <!--<i class="linecons-user"></i>-->
            <!--</div>-->
            <!--<div class="xe-label">-->
                <!--<strong class="num">1k</strong>-->
                <!--<span>Users Total</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="1000" data-to="2470" data-duration="4" data-easing="true">-->
            <!--<div class="xe-icon">-->
                <!--<i class="linecons-camera"></i>-->
            <!--</div>-->
            <!--<div class="xe-label">-->
                <!--<strong class="num">1000</strong>-->
                <!--<span>New Daily Photos</span>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="col-sm-4">
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&nbsp;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&nbsp;-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="col-sm-2">
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&nbsp;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&nbsp;-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
                <!--&nbsp;-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Charts</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="charts">
                    <div id="sample-chart" class="metric-chart" style="display: None">

                        <div class="chart-header">
                            <div class="btn-group entity-selection" data-toggle="buttons">
                                <label class="btn btn-success btn-sm active">
                                    <input type="radio" name="entity" id="pm" autocomplete="off" value="pm" checked>PM
                                </label>
                                <label class="btn btn-success btn-sm">
                                    <input type="radio" name="entity" id="vm" autocomplete="off" value="vm">VM
                                </label>
                            </div>
                            <div class="opts" id="pm-opts">
                                <label for="select-pms">PMs: </label><select id="select-pms" class="select-pms form-control"></select>
                                <label for="select-metrics-pms">Metrics: </label><select id="select-metrics-pms" class="metrics-pms large form-control"></select>
                            </div>
                            <div class="opts" id="vm-opts" style="display: none;" style="width: 200px;">
                                <label for="select-vms">VMs: </label><select id="select-vms" class="select-vms form-control"></select>
                                <label for="select-metrics-vms">Metrics: </label><select id="select-metrics-vms" class="metrics-vms large form-control"></select>
                            </div>
                            <!--<button type="button" class="btn btn-blue btn-sm create-chart-btn">Create Chart</button>-->
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-blue btn-icon btn-icon-standalone create-chart-btn">
                                <i class="fa-line-chart"></i>
                                <span>Create Chart</span>
                            </button>
                        </div>
                        <div id="chart-sample-id" class="chart-body">
                        </div>
                        <div class="chart-legend">
                        </div>
                    </div>
                </div>
                <button id="add-chart-window-btn" type="button" class="btn btn-sm btn-secondary btn-icon btn-icon-standalone">
                    <i class="fa-plus"></i>
                    <span>Add Chart Window</span>
                </button>
            </div>
        </div>
    </div>
</div>
