<page-title ng-if="layoutOptions.pageTitles" title="Manual Experiments"></page-title>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Experiment Configuration</h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Experiment Server</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="IP" ng-model="dispatcher.ip" required>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Port" ng-model="dispatcher.port" required>
                </div>
                <div class="col-sm-2">
                    <span class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-single" ng-click="loadApps()">Update</button>
                    </span>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Experiment Server</label>-->

            <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" placeholder="IP" ng-model="experiment.name" required>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <!--<uib-tabset id="">-->
            <!--<uib-tab heading="Apps" select="onTabSelect()">-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Deploy New App</h3>
                        <div class="panel-options">
                            <a href="" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">App Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="appRequest.appName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    Name will be edited automatically to make it unique.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">GML File</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="frm-app-type" required
                                            ng-model="appRequest.appType"
                                            ng-options="appType for appType in appTypes">
                                        <option>Select Template Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-secondary btn-single"
                                            ng-click="deployApp(appRequest)">Deploy
                                        App
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Active Apps</h3>
                        <div class="panel-options">
                            <a href="" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12" ng-controller="AppsDtCtrl as c">
                            <table id="app-info-table" datatable="ng"
                                   dt-options="c.dtOptions" dt-column-defs="c.dtColumnDefs"
                                   class="table table-striped able-bordered table-hover">
                                <thead>
                                <th>App Name</th>
                                <th>Agent IP</th>
                                <th>App Type</th>
                                <th>Status</th>
                                <th>Notes</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                <tr dt-rows="" ng-repeat="(name, app) in c.apps">
                                    <td>{{ app.name }}</td>
                                    <td>{{ app.provider }}</td>
                                    <td>{{ app.app_type }}</td>
                                    <td class="status {{c.getStatusClass(app.status)}}" title="{{app.msg}}">{{
                                        app.status }}
                                    </td>
                                    <td>{{ app.notes }}</td>
                                    <td>
                                        <a class="btn btn-icon btn-blue btn-icon-standalone btn-xs"
                                           ng-click="c.detail(name)"><i class="fa-search-plus"></i></a>
                                        <a class="btn btn-icon btn-red btn-icon-standalone btn-xs"
                                           ng-click="c.delete(name)"><i class="fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!--</uib-tab>-->
            <!--<uib-tab heading="Clients" select="onTabSelect()">-->
                <div class="panel panel-default" ng-controller="ExpClientsCtrl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Launch Clients</h3>
                        <div class="panel-options">
                            <a href="" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form name="frmLaunchClient" role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">App Name</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="frm-client-app" required
                                            ng-model="currentClientApp"
                                            ng-options="entry.name for (id, entry) in appEntries">
                                        <option>Select app</option>
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <!--<pre>-->
                                        <!--{{currentClientApp | json}}-->
                                        <!--{{currentClientParams}}-->
                                    <!--</pre>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Parameters</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="currentClientParams"
                                           placeholder="attr1=value1,attr2=value2,..."
                                           ng-pattern="/^(?:(\w+=(?:\w|\/)+),)*(\w+=(?:\w|\/)+)$/"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <button type="submit" ng-disabled="frmLaunchClient.$invalid"
                                            class="btn btn-secondary btn-single"
                                            ng-click="launchClient(currentClient)">Launch
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Active Client Instances</h3>
                        <div class="panel-options">
                            <a href="" data-toggle="panel">
                                <span class="collapse-icon">&ndash;</span>
                                <span class="expand-icon">+</span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12" ng-controller="ClientsDtCtrl as c">
                            <table id="clients-info-table" datatable="ng"
                                   dt-options="c.dtOptions" dt-column-defs="c.dtColumnDefs"
                                   class="table table-striped able-bordered table-hover">
                                <thead>
                                <th>Client ID</th>
                                <th>App Name</th>
                                <th>Client Name</th>
                                <th>Parameters</th>
                                <th>Deploy Time</th>
                                <th>Stop Time</th>
                                <th>Status</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                <tr dt-rows="" ng-repeat="(key, client) in c.clients">
                                    <td>{{ client.client_id }}</td>
                                    <td>{{ client.app_name }}</td>
                                    <td>{{ client.name }}</td>
                                    <td>{{ client.params }}</td>
                                    <td>{{ client.deploy_time }}</td>
                                    <td>{{ client.stop_time }}</td>
                                    <td class="status {{c.getStatusClass(app.status)}}" title="{{app.msg}}">
                                        {{ app.status }}
                                    </td>
                                    <td>
                                        <a class="btn btn-icon btn-blue btn-icon-standalone btn-xs"
                                           ng-click="c.detail(key)"><i class="fa-search-plus"></i></a>
                                        <a class="btn btn-icon btn-red btn-icon-standalone btn-xs"
                                           ng-click="c.delete(key)"><i class="fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!--</uib-tab>-->
            <!--<uib-tab heading="Results" select="onTabSelect()">-->
<!---->
            <!--</uib-tab>-->
        <!--</uib-tabset>-->
    </div>
</div>
