<page-title ng-if="layoutOptions.pageTitles" title="LAMA Configuration"></page-title>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Dispatcher</h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Dispatcher Server</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="IP" ng-model="dispatcher.ip" required>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Port" ng-model="dispatcher.port" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <span>
                    <button type="submit" class="btn btn-secondary btn-single" ng-click="saveDispatcher()">Save</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="modal-confirm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Basic Modal</h4>
  </div>

  <div class="modal-body">
    Are you sure you want to {{action_name}}?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-green" ng-click="cancel();">Cancel</button>
    <button type="button" class="btn btn-red" ng-click="ok();">Yes</button>
  </div>
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
      <a href="" ng-click="openModal('modal-confirm', 'restart')" class="btn btn-blue btn-single btn-sm">Restart LAMA</a>
      <a href="" ng-click="openModal('modal-confirm', 'reset')" class="btn btn-red btn-single btn-sm">Reset LAMA</a>
    </div>
</div>
