<page-title ng-if="layoutOptions.pageTitles" title="App Details: {{currentApp.value}}" description="View app agent details"></page-title>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">App</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="selApp" ng-model="currentApp" ng-options="a as a.label for a in availableApps" ng-change="getCurrentAppInfo">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Graph</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <div id="graph_view">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="timeline" class="row"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Charts</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="charts">
                    <div id="sample-chart" class="metric-chart" style="display: None">

                        <div class="chart-header">
                            <div class="btn-group entity-selection" data-toggle="buttons">
                                <label class="btn btn-success btn-sm active">
                                    <input type="radio" name="entity" id="pm" autocomplete="off" value="pm" checked>PM
                                </label>
                                <label class="btn btn-success btn-sm">
                                    <input type="radio" name="entity" id="vm" autocomplete="off" value="vm">VM
                                </label>
                            </div>
                            <div class="opts" id="pm-opts">
                                <label for="select-pms">PMs: </label><select id="select-pms" class="select-pms form-control"></select>
                                <label for="select-metrics-pms">Metrics: </label><select id="select-metrics-pms" class="metrics-pms large form-control"></select>
                            </div>
                            <div class="opts" id="vm-opts" style="display: none;" style="width: 200px;">
                                <label for="select-vms">VMs: </label><select id="select-vms" class="select-vms form-control"></select>
                                <label for="select-metrics-vms">Metrics: </label><select id="select-metrics-vms" class="metrics-vms large form-control"></select>
                            </div>
                            <!--<button type="button" class="btn btn-blue btn-sm create-chart-btn">Create Chart</button>-->
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-sm btn-blue btn-icon btn-icon-standalone create-chart-btn">
                                <i class="fa-line-chart"></i>
                                <span>Create Chart</span>
                            </button>
                        </div>
                        <div id="chart-sample-id" class="chart-body">
                        </div>
                        <div class="chart-legend">
                        </div>
                    </div>
                </div>
                <button id="add-chart-window-btn" type="button" class="btn btn-sm btn-secondary btn-icon btn-icon-standalone">
                    <i class="fa-plus"></i>
                    <span>Add Chart Window</span>
                </button>
            </div>
        </div>
    </div>
</div>
<app-arch app-data="currentApp"></app-arch>
