<page-title ng-if="layoutOptions.pageTitles" title="App Details: {{currentAppName}}" description="View app agent details"></page-title>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">App:</label>
                        <div class="col-sm-10">

                            <!--<script type="text/javascript">-->
                                <!--jQuery(document).ready(function($)-->
                                <!--{-->
                                    <!--$("#selApp").selectBoxIt({-->
                                        <!--showEffect: 'fadeIn',-->
                                        <!--hideEffect: 'fadeOut',-->
                                        <!--showFirstOption: false-->
                                    <!--}).on('open', function () {-->
                                        <!--// Adding Custom Scrollbar-->
                                        <!--$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();-->
                                    <!--});-->
                                <!--});-->
                            <!--</script>-->

                            <!--<select class="form-control" id="selApp" select-box-it="availableApps">-->
                            <!--<select class="form-control" id="selApp">-->
                                <!--<option>Select an App...</option>-->
                                <!--<option ng-repeat="a in availableApps" value="{{a.name}}" selected="{{a.name == currentAppName}}">{{a.name}}</option>-->
                            <!--</select>-->
                            <select class="form-control" id="selApp" ng-model="currentApp" ng-options="a as a.label for a in availableApps" ng-change="getCurrentAppInfo">
                                <!--<option>Select an App...</option>-->
                                <!--<option ng-repeat="a in availableApps" value="{{a.name}}" selected="{{a.name == currentAppName}}">{{a.name}}</option>-->
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <app-graph graph-id="main-graph" graph-data="currentAppInfo"></app-graph>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">App Selection</h3>

                <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <lama-timeline ng-attr-id="timeline" tl-events="appEvents"></lama-timeline>
            </div>
        </div>
    </div>
</div>
