<page-title ng-if="layoutOptions.pageTitles" title="Lama Provider Agents" description="Provider agents relations and resources"></page-title>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6" style="min-width: 400px">
        <div class="base-widget">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Providers Network</h3>
                    <div class="panel-options">
                        <a href="" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="cell-graph">
                      <peer-graph></peer-graph>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6" style="min-width: 400px">
        <div class="base-widget">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Provider Info</h3>
                    <div class="panel-options">
                        <a href="" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                    </div>

                </div>
                <div class="panel-body" ng-show="providerInfo">
                    <table class="table table-striped" >
                        <tr>
                            <th>IP Address</th>
                            <td>{{providerInfo.ip_address}}</td>
                        </tr>
                        <tr>
                            <th>Port:</th>
                            <td>{{providerInfo.port}}</td>
                        </tr>
                        <tr>
                            <th>Subnet:</th>
                            <td>{{providerInfo.sub_net}}</td>
                        </tr>
                        <tr>
                            <th>ID:</th>
                            <td>{{providerInfo.agent_id}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="base-widget">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resources</h3>
                    <div class="panel-options">
                        <a href="" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                            <span class="expand-icon">+</span>
                        </a>
                    </div>

                </div>
                <div class="panel-body" ng-controller="ResourcesDtCtrl as c">
                  <table datatable="ng" ng-if="c.resources.length > 0" dt-options="c.dtOptions"  dt-column-defs="c.dtColumnDefs"
                         class="table table-striped">
                    <thead>
                      <tr>
                        <th>Comp.</th>
                        <th>Metric</th>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Allocated</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr dt-rows="" ng-repeat="resource in c.resources">
                        <td>{{ resource.comp }}</td>
                        <td>{{ resource.metric }}</td>
                        <td>{{ resource.key }}</td>
                        <td>{{ resource.value }}</td>
                        <td>{{ resource.allocated }}</td>
                      </tr>
                    </tbody>
                  </table>

                    <!--<table id="providers-info-table" class="table table-striped table-bordered" dyn-table="resourcesTable"></table>-->
                </div>
            </div>
        </div>
    </div>

</div>
